<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Persons</title>
</head>
<body>
<div align="center">
    <h1>Person informations who are from United Stated</h1>
    <a href="/new">Create New Product</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Person Id</th>
            <th>Event Name</th>
            <th>Scanned Date</th>
            <th>Scanned Time</th>
            <th>First Name</th>
            <th>Middle initial</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Email 2</th>
        </tr>
        </thead>
    </table>
        </div>
</body>
</html>